<form #signUpForm="ngForm" (ngSubmit)="signUpFOrm.valid && onSubmit(signUpForm)">
    <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name= "fullName" placeholder="Full Name"
    required [ngClass]= "{'invalid-textbox' :signUpForm.submitted && !fullName.valid}">

    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
    required [pattern]="emailRegex" [ngClass]= "{'invalid-textbox' :signUpForm.submitted && !email.valid}">

    <input type="text" #major="ngModel" [(ngModel)]="userService.selectedUser.major" name="major" placeholder="Major"
    required [ngClass]= "{'invalid-textbox' :signUpForm.submitted && !major.valid}">

    <input type="text" #wNumber="ngModel" [(ngModel)]="userService.selectedUser.wNumber" name="wNumber" placeholder="W Number"
    required [ngClass]= "{'invalid-textbox' :signUpForm.submitted && !wNumber.valid}">

    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
    minlength= "6" required [ngClass]= "{'invalid-textbox' :signUpForm.submitted && !password.valid}">

    <input type="submit" value="sign Up">
</form>

<div class = "success" *ngIf="showSucessMessage">
    Saved successfully
</div>

<div class= "alert" *ngIf= "serverErrorMessages">
    {{serverErrorMessages}}
</div>
